body{
	font-family: 'Quicksand', sans-serif!important;
}
.navigation,
.logo,
.section,.logo-img {
    padding: 10px!important;
}
.pad-10{
	 padding: 10px!important;
}
.main-my-banner {
    background: rgb(33 33 33);
}

a {
    color: white!important;
    font-size: 15px!important;
}
a:hover{
	background-color:red!important;
}
p{
	color:white;
}
img,
.menu {
    width: 100%;
	
}
.logo-img{
	width:300px!important;
	
}
section{
	
}

.color-red {
    background: rgb(190 80 79);
}

.color-blue {
    background: rgb(24 56 95);
}

.color-black {
    background: rgb(38 38 38);
}

.color-white {
    background: white;
}

.main-btn {
    padding: 15px 24px;
    border-radius: 100%;
    width: 0%;
    height: 43px;
    position: absolute!important;
    top: 312px;
    margin: 0px 9px;
    cursor: pointer;
    box-shadow: 0px -1px 9px 1px white;
    right: 250px;
}



.color-white,
.color-blue,
.color-black,
.color-red {
   padding: 15px 24px;
    border-radius: 100%;
    width: 100%;
    /* height: 50px; */
    position: relative;
    top: 147px;
    margin: 0px 9px;
    cursor: pointer;
    box-shadow: 0px -1px 9px 1px #06060652;
    right: -271px;
}



.tabcontent,
.minicol {
    display: none;
	transform: scale3d(1.5, 1.5, 1.5);
	
}


.mytooltip{
	    padding: 10px;
    background: rgb(255 255 255 / 2%);
    color: rgb(255 255 255);
    border: none;
    border-radius: 15px;
    text-align: center;
    position: relative;
    left: 50px;
    right: 50px;
    margin: 5px 11px 6px 4px #00000030;
    width: 30%;
    margin: 0 auto;
    top: 90px;
}

@media(max-width:1200px) {
    .navigation {
        
		display: none;
    position: fixed;
    width: 100%;
    left: 0;
    top: 51px;
    right: 0;
    bottom: 0;
    background: rgb(0 0 0);
    background: rgb(0 0 0 / 80%);
    filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    -moz-filter: blur(4px);
    -webkit-filter: blur(1px);
    backdrop-filter: blur(-8px);
    z-index: 99999999;
    }
    .logo {
       
		   display: flex;
    position: absolute;
    top: -31px;
    right: 0;
   
    }
	.mytooltip{
	padding: 10px;
    background: rgb(255 255 255 / 2%);
    color: rgb(255 255 255);
    border: none;
    border-radius: 15px;
    text-align: center;
    position: relative;
    left: 78px;
    right: 53px;
    box-shadow: 5px 11px 6px 4px #00000030;
	top: 0px;
	width:100%;

}
	.menu{
		position: relative;
    top: 8px;
    z-index: 9999;


	}
    .logo-img {
        width: 205px!important;
         

    }
	.my_object01{
		padding: 75px 0px 0px 0px;
	}
    .col-mob {
        width: 50%;
        float: left;
    }
    .first,
    .sec,
    .third {
        border: 1px solid rgb(255 255 255);
        margin: 5px 0px;
    }
    .first {
        width: 10%;
    }
    .sec {
        width: 4%;
    }
    .third {
        width: 2%;
    }
    .main-btn {
        padding: 15px 24px;
        border-radius: 100%;
        width: 0%;
        height: 43px;
        /* position: relative!important; */
        top: 224px;
        margin: 0px 9px;
        cursor: pointer;
        box-shadow: 0px -1px 9px 1px white;
        right: 155px;
    }
    .color-white,
    .color-blue,
    .color-black,
    .color-red {
          padding: 15px 24px;
    border-radius: 100%;
    width: 100%;
    /* height: 50px; */
    position: relative!important;
    top:44px;
    margin: 0px 9px;
    cursor: pointer;
    box-shadow: 0px -1px 9px 1px #06060652;
    right: -58px;

    }
    .btn-mob {
        padding: 150px;
    }
	section{
		overflow-x:hidden;
	}
}